/* src/components/ImageOverlay.css */
.Card {
    position: relative;
    vertical-align: top;
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    margin: auto;
  }
  
.background-image {
  width: 100%;
  height: auto;
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  filter: opacity(65%);
  pointer-events: none; /* Ensures the overlay doesn't block interaction with the background */
}


.card-package:hover {
  box-shadow: rgba(0,0,0,.6) 0 2px 5px;
  transition: all .3s ease-out;
  transform: scale(1.04)
}